/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  scroll-behavior: smooth;

}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

h4 {
	font-size: 26px;
	/**font-family: 'Syne', sans-serif;**/
	text-align: center;
	margin-bottom: 20px;
  margin-top: 20px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a {
	color: inherit;
	list-style: none;
	text-decoration: none;
}

a:visited {
	list-style: none;
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}


.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

.filters button {
	border: 1px solid #1D6154;
	background-color: white;
	color: #1D6154;
	padding: 8px 15px;
	border-radius: 20px;
	cursor: pointer;
	font-family: "Syne", sans-serif;
	font-weight: 700;
}

.filters button.active {
	background-color: #1D6154;
	color: white;
}



.login-link a {
	color: inherit;
	text-decoration: none;
}

.login-section {
	width: 380px;
	margin: 150px auto;
	text-align: center;
}

.login-section h2 {
	margin-bottom: 30px;
}

.login-section form {
	display: flex;
	flex-direction: column;
}

.login-section label {
	text-align: left;
	margin-top: 20px;
	font-weight: 500;
}

.login-section input {
	height: 40px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 10px;
}

.login-section button {
	margin-top: 30px;
	height: 45px;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	font-family: "Syne", sans-serif;
	font-weight: 700;
}

.forgot-password {
	margin-top: 20px;
	text-decoration: underline;
	cursor: pointer;
}

.error-message {
	color: red;
	margin-top: 15px;
}


.edit-banner {
	width: 100vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 0;
	font-size: 1rem;
}

.edit-banner p {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}



#portfolio h2 button {
	background: none;
	border: none;
	cursor: pointer;
	color: black;
	font-family: 'Work Sans';
	font-size: 0.9rem;
	margin-left: 15px;
	display: inline-flex;
	align-items: center;
	gap: 6px;
}



img.instagram-icon {
	width: 20px;
}



.modal-overlay {
	display: none;
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-container {
	background: white;
	border-radius: 10px;
	padding: 40px;
  width: 615px;
	max-width: 90%;
	position: relative;
	max-height: 85vh;
	overflow-y: auto;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 20px;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

.modal-back {
	position: absolute;
	top: 15px;
	left: 20px;
	background: none;
	border: none;
	font-size: 1.2rem;
	cursor: pointer;
}

.modal-container hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 20px 0;
}

#modal-gallery {
  margin: 50px;
}


.modal-photos {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
  margin: 30px 30px;
}

.modal-photos figure {
	position: relative;
	margin: 0;
}

.modal-photos img {
	width: 100%;
  height: 130px;
	object-fit: cover;
}

.modal-photos .btn-delete {
	position: absolute;
	top: 5px;
	right: 5px;
	background: black;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 3px 6px;
	cursor: pointer;
	font-size: 0.7rem;
}



#btn-add-photo {
	display: block;
	margin: 30px auto 0;
	padding: 12px 40px;
	background-color: #1D6154;
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 1rem;
}



#upload-zone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #d9edf4;
	border-radius: 2px;
	padding: 0px;
	margin-bottom: 20px;
	min-height: 172px;
}

#upload-zone i {
	font-size: 3rem;
	color: #7a8c99;
}

#upload-zone label {
	background-color: #d0dce6;
	padding: 8px 16px;
  border-radius: 15px;
	cursor: pointer;
	font-size: 0.85rem;
  margin: 8px;
  color: #3e6582;
}

#upload-zone p {
	font-size: 0.75rem;
	color: #7a8c99;
	margin: 0;
}

#preview-image {
	max-width: 50%;
	max-height: 180px;
	object-fit: cover;
}

.form-field {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 15px;
}

.form-field label {
	font-size: 0.9rem;
	font-weight: bold;
}

.form-field input,
.form-field select {
  padding: 12px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-size: 15px;
  outline: none;
  background: white;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  border-radius: 4px;
  font-family: 'Work Sans';
  color: #444444;
}

.form-field select {
    appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23333' stroke-width='1.5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding-right: 40px;
}

#input-category {
  margin-bottom: 10px;
}

#form-add-work {
  margin: 50px;
}



#btn-submit {
	display: block;
	margin: 20px auto 0;
	padding: 10px 80px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 1rem;
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	transition: background-color 0.3s;
}

#btn-submit.btn-disabled {
	background-color: #a0a0a0;
	cursor: not-allowed;
	color: white;
}

#btn-submit.btn-active {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}